@import "./_colors.scss";
@import "./_breakpoints.scss";
@import "./_fonts.scss";

.aboutpage_container {
  height: 100vh;
  margin: 0 33rem;
}

.aboutpage_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10.74rem;
  width: 70%;
  align-items: center;
  margin: auto;
}
