@import "./breakpoints";
@import "./fonts";
@import "./colors";

.donatepage_container {
  font-family: $Poppins;
  height: auto;

  @include mobile {
    height: auto;
    width: auto;
  }
}

.donatepage_wrapper {
  margin-bottom: 8rem;
  margin-top: 4rem;
  padding: 2rem 5rem;

  @include mobile {
    padding: 2rem 1rem;
    margin: auto;
  }
}

.donatepage_body {
  display: flex;
  gap: 2rem;

  @include mobile {
    flex-direction: column;
  }
}

.donatepage_card {
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  border-radius: 0.5rem;
  background: #6d6d6d;

  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    opacity: 1;
  }

  & p {
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    opacity: 1;
  }

  & button {
    cursor: pointer;
  }
}

.donate_bg {
  position: relative;
  background-image: url("../assets/donate/Support\ A\ Great\ Course.jpg");
  background-size: cover;
  background-position: center;

  .donate_bg::before {
    content: "";
    background-image: inherit;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgb(255, 255, 255, 0.8);
    opacity: 0.8;
    z-index: 1;
  }
}

.partner_bg {
  background-image: url("../assets/donate/partners.jpg");
  background-size: cover;
  background-position: center;

  .partner_bg::before {
    content: "";
    background-image: inherit;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgb(255, 255, 255, 0.8);
    opacity: 0.8;
    z-index: -1;
  }
}

.bepart_bg {
  background-image: url("../assets/donate/Be\ Part\ of\ something\ big.jpg");
  background-size: cover;
  background-position: center;

  .bepart_bg::before {
    content: "";
    background-image: inherit;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgb(255, 255, 255, 0.8);
    opacity: 0.8;
    z-index: -1;
  }
}
