@import "./_colors.scss";
@import "./_breakpoints.scss";
@import "./_fonts.scss";

.heropage_container {
  background-image: url(../assets/hero/HeroPagebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-color: white;
}

.heropage_wrapper {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2.463rem;
}
.heropage_title {
  display: flex;
  flex-direction: column;
  gap: 0.726rem;
  & h1 {
    color: #fff;
    font-family: $Poppins;
    font-size: 1.408rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    & span {
      color: #21b709;
    }
  }
  & p {
    color: rgba(255, 255, 255, 0.8);
    font-family: $Poppins;
    font-size: 8.445px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.heropage_btn {
  color: #fff;
  text-align: center;
  font-family: $Poppins;
  font-size: 8.445px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.499rem;
  border-radius: 1.1rem;
  background-color: #ce7c02;
  width: fit-content;
}
