.review_wrapper {
  padding: 4rem 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
	margin: auto;
}
.review_title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #a1a1a1;
  letter-spacing: 2.88px;
  padding-bottom: 10px;
}
.r_color {
  color: #deaf62;
}
.slick-initialized {
  padding-bottom: 120px;
}
.review_header {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 116.8%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
  width: 50%;
  padding-bottom: 40px;
}

.testimonial_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  flex-direction: row;
}
.testimonial {
  display: flex;
  flex-direction: column;
  border: 2px solid #ececec;
  border-radius: 26px;
  gap: 24px;
  padding: 24px;
  padding-bottom: 0;
}
.testimonial_review {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}
.testimonial_info {
  display: flex;
  flex-direction: row;
  gap: 12px ;
}
.testimonial_name {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #7e7e7e;
}

// slider
.myCarousel {
  width: 450px !important;
  padding: 30px;
  display: flex !important;
  flex-direction: column;
  margin: auto;
  border: 2px solid #ececec;
  border-radius: 24px;
  gap: 30px;
  p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333333;
  }
  .reviewer {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    h3 {
      font-family: "Space Grotesk";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #7e7e7e;
    }
  }
}
.stars {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .testimonial_container {
    display: flex;
    flex-direction: column;
  }
  .review_header {
    width: 100%;
  }
}
