@import "./_colors.scss";
@import "./_breakpoints.scss";
@import "./_fonts.scss";

.servicespage_container {
  font-family: $Poppins;
  height: auto;

  @include mobile {
    height: auto;
    width: auto;
  }
}

.servicespage_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
  margin-top: 4rem;
  padding: 2rem 5rem;
  gap: 2rem;

  & h1 {
    color: #ce7c02;
    text-align: center;
    font-family: $Poppins;
    font-size: 1.87969rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-shrink: 0;

    > span {
      color: #145c08;
      font-family: $Poppins;
      font-size: 1.87969rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.servicespage_body {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px #aaaaaa;

  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.servicepage_card {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px #aaaaaa;

  & h4 {
    color: #145c08;
  }
}
