.Strip_Wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 50px;
  padding: 20px;
  border: 1px solid #dbdbdb;
}
.S_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #dbdbdb;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .Strip_Wrapper {
    display: none;
  }
}
